@charset "UTF-8";
/* меняем цвет выделения */
*::-moz-selection {
  color: black;
  background-color: white;
}
*::selection {
  color: black;
  background-color: white;
}

/* Убираем ненужный фон при клике  */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* шрифт */
body {
  font-family: gilroy;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon/icomoon.woff");
}
@font-face {
  font-family: "flaticon";
  src: url("../font/flaticon/Flaticon.woff");
}
.first-screen {
  display: flex;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.first-screen .body {
  display: flex;
  flex-direction: column;
}

.first-screen__video {
  display: flex;
  background-image: url(../img/bg_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.first-screen__video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.first-screen__content {
  opacity: 0;
  transform: translate(0, 200px);
  transition: all 1s ease;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-screen__content.active {
  transform: translate(0, 0);
  opacity: 1;
}

.first-screen__title {
  text-align: center;
  color: white;
  font-size: 40px;
}

.first-screen__subtitle {
  max-width: 600px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 45px;
}

.first-screen__button a {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5px;
  transition: all 0.2s ease;
  color: white;
  border: 3px solid white;
}

.first-screen__button a:hover {
  color: black;
  background-color: white;
}

@media (max-width: 1200px) {
  .first-screen__title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first-screen__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .first-screen__title {
    font-size: 16px;
  }
  .first-screen__button a {
    padding: 5px 15px;
    font-size: 14px;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.scroll {
  z-index: 2;
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  color: black;
}
.scroll .header__body {
  padding: 1.5rem 0;
  margin: 0 auto;
  width: 1200px;
}
.scroll .header__logo {
  color: black;
}
.scroll .header__nav a {
  color: black;
  transition: all 0.2s ease;
}
.scroll .header__burger {
  color: black;
}
.scroll .header__nav a:hover {
  color: #f23a2e;
}
.scroll .header__nav a.active span {
  border-bottom: 2px solid #f23a2e;
}

.most-scroll .header__body {
  transition: all 0.4s ease;
  padding: 1rem 0;
}
.most-scroll .header__nav a.active span {
  padding: 3px 0;
}

.header__logo {
  font-weight: 900;
  font-size: 20px;
  color: white;
}
.header__logo span {
  color: red;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0 20px;
}

.header__nav .active span {
  border-bottom: 2px solid white;
  transition: all 0.3s ease;
  padding: 7px 0;
}

.header__burger {
  cursor: pointer;
  display: none;
  color: white;
  font-size: 25px;
}

.header__burger:before {
  font-family: "icomoon";
  content: "\e5d2";
}

@media (max-width: 1200px) {
  header.scroll .header__body {
    width: 100%;
    padding: 0 10px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.burger__place {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -3;
}

.burger {
  padding: 20px 0;
  z-index: 4;
  position: fixed;
  top: 0;
  right: -300px;
  background-color: white;
  width: 300px;
  height: 100vh;
  transition: all 0.3s ease;
}

.burger.active {
  right: 0;
}

.burger__exit::before {
  font-family: icomoon;
  content: "\f00d";
}

.burger__exit {
  font-size: 30px;
  color: #989898;
  padding: 0 20px;
  text-align: right;
  cursor: pointer;
}

.burger__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;
}

.burger__nav a {
  color: #212529;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.burger__nav a.active {
  color: #f23a2e;
}

.burger__nav a:hover {
  color: #f23a2e;
}

@media (max-width: 320px) {
  .burger {
    width: 100%;
    right: -100%;
  }
  .burger__nav {
    padding: 0 10px;
  }
  .burger__nav a {
    padding: 10px 10px;
  }
}
.stay *::-moz-selection {
  color: white;
  background-color: black;
}
.stay *::selection {
  color: white;
  background-color: black;
}

.stay {
  margin-top: 200px;
  padding: 70px 0;
}

.stay .body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stay__top {
  text-align: center;
  max-width: 600px;
}

.stay__subtitle {
  font-size: 18px;
  color: #ABABAB;
}

.stay__title h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 15px;
}

.stay__text {
  color: #989898;
  font-size: 17px;
}

@media (max-width: 320px) {
  .stay__title h2 {
    font-size: 30px;
  }
}
.swiper {
  width: 100%;
}

.swiper-wrapper {
  margin: 50px 0;
}

.swiper-pagination {
  transform: scale(1.5);
  --swiper-theme-color: #f23a2e;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  width: 100%;
  transition: all 0.4s ease;
}

.swiper-slide:hover {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.slide__logo {
  color: #f23a2e;
  font-size: 50px;
  margin-bottom: 50px;
}

.slide__title {
  font-size: 20px;
  font-weight: bolder;
  font-family: Muli;
  margin-bottom: 10px;
}

.slide__text {
  font-size: 18px;
  color: #989898;
}

#logo1:before {
  font-family: flaticon;
  content: "\f100";
}

#logo2:before {
  font-family: flaticon;
  content: "\f101";
}

#logo3:before {
  font-family: flaticon;
  content: "\f102";
}

#logo4:before {
  font-family: flaticon;
  content: "\f103";
}

#logo5:before {
  font-family: flaticon;
  content: "\f104";
}

#logo6:before {
  font-family: flaticon;
  content: "\f105";
}

.quote1 {
  background: url(../img/bg_1.jpg) center/cover no-repeat;
}

.quote2 {
  background: url(../img/bg_3.jpg) center/cover no-repeat;
}

.quote__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  padding: 200px 0;
  color: white;
}

.quote__title {
  font-size: 60px;
  text-align: center;
}

.quote__text {
  max-width: 800px;
  text-align: center;
  font-size: 20px;
}
.quote__text a {
  color: white;
}
.quote__text a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .quote__title {
    font-size: 40px;
  }
  .quote__text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .quote__title {
    font-size: 30px;
  }
  .quote__body {
    padding: 100px 0;
  }
}
.class *::-moz-selection {
  color: white;
  background-color: black;
}
.class *::selection {
  color: white;
  background-color: black;
}

.class {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 50px 0;
}

.class__top {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin-bottom: 50px;
}

.class__subtitle {
  font-size: 18px;
  color: #ABABAB;
}

.class__title h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 15px;
}

.class__text {
  color: #989898;
  font-size: 17px;
}

.class__bottom .body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.class__card {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.class__card:hover {
  transform: scale(1.2);
  background-color: #f23a2e;
}
.class__card:hover .class__name {
  color: white;
}

.class__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10px;
}

.class__left {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.class__left img {
  border-radius: 5px 0 0 5px;
  height: 100px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.class__name {
  font-size: 18px;
  cursor: pointer;
}

.class__author {
  color: #aeaeae;
}

@media (max-width: 768px) {
  .class__bottom .body {
    grid-template-columns: 1fr;
  }
  .class__card {
    width: 90vw;
    padding: 10px;
  }
}
@media (max-width: 320px) {
  .class__title h2 {
    font-size: 30px;
  }
}
.trainer {
  margin: 100px 0;
}

.trainer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 50px;
}

.trainer__subtitle {
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 18px;
  color: #ABABAB;
}

.trainer__subtitle.active {
  opacity: 1;
  transform: translate(0, 0);
}

.trainer__title h2 {
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 15px;
}

.trainer__title h2.active {
  opacity: 1;
  transform: translate(0, 0);
}

.trainer__text {
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 0.5s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  color: #989898;
  font-size: 17px;
}

.trainer__text.active {
  transform: translate(0, 0);
  opacity: 1;
}

.trainer__bottom .body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  grid-template-rows: repeat(1fr);
}

.trainer__man {
  position: relative;
  transform: translate(0, 100px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.trainer__man:nth-child(1) {
  transition: all 0.5s ease;
}

.trainer__man:nth-child(2) {
  transition: all 1s ease;
}

.trainer__man:nth-child(3) {
  transition: all 1.5s ease;
}

.trainer__man:nth-child(4) {
  transition: all 2s ease;
}

.trainer__man.active {
  opacity: 1;
  transform: translate(0, 0);
}

.trainer__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.trainer__name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.trainer__position {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
}

.trainer__feature {
  display: flex;
  justify-content: center;
  max-width: 300px;
  font-size: 15px;
  text-align: center;
  color: #989898;
}

.trainer__icon img {
  width: 100px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .trainer__bottom .body {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .trainer__bottom .body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .trainer__bottom .body {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .trainer__title h2 {
    font-size: 30px;
  }
}
.services {
  margin-bottom: 100px;
}

.services__subtitle {
  font-size: 18px;
  color: #ABABAB;
}

.services__title h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 15px;
}

.services__text {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  color: #989898;
  font-size: 17px;
}

.services__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services__slide {
  opacity: 0;
  transform: translate(0, 100px);
}

.services__slide:nth-child(1) {
  transition: all 0.5s ease 0s;
}

.services__slide:nth-child(2) {
  transition: all 0.5s ease 0.3s;
}

.services__slide:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

.services__slide:nth-child(4) {
  transition: all 0.5s ease 0.9s;
}

.services__slide:nth-child(5) {
  transition: all 0.5s ease 0.12s;
}

.services__slide:nth-child(6) {
  transition: all 0.5s ease 0.15s;
}

.services__slide.active {
  opacity: 1;
  transform: translate(0, 0);
}

.services__top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__bottom {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .services__bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .services__bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact__top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__subtitle {
  font-size: 18px;
  color: #ABABAB;
}

.contact__title h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 15px;
}

.contact__text {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  color: #989898;
  font-size: 17px;
}

.contact__bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}
.contact__bottom input,
.contact__bottom textarea {
  border: 0;
  outline: 2px solid rgba(152, 152, 152, 0.3725490196);
  color: #989898;
  padding: 10px;
}
.contact__bottom input:focus,
.contact__bottom textarea:focus {
  outline-color: #f23a2e;
}
.contact__bottom textarea {
  resize: vertical;
}
.contact__bottom button {
  word-wrap: normal;
  padding: 10px 30px;
  max-width: 200px;
  background-color: #f23a2e;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.contact__two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .contact__two {
    grid-template-columns: 1fr;
  }
  .contact__bottom button {
    padding: 5px 15px;
  }
}
.footer .body {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
}

.footer__title {
  color: #343a40;
  text-transform: uppercase;
  font-weight: 900;
}

.footer__text {
  color: #989898;
  word-wrap: normal;
  max-width: 100%;
}

.footer__href {
  display: grid;
  grid-template-columns: minmax(10px, 1fr);
  padding: 15px 0;
}

.footer__link {
  padding: 7px 0;
  color: #f23a2e;
  text-decoration: none;
}

.footer__email {
  margin-top: 20px;
  display: flex;
  grid-template-columns: minmax(10px, 1fr);
  grid-template-rows: 1fr;
}
.footer__email input {
  color: #495057;
  flex-grow: 1;
  border: 0;
  outline: 2px solid #a5a5a5;
  padding: 10px;
  transition: all 0.3s ease;
}
.footer__email input:focus {
  outline: 2px solid #f23a2e;
}
.footer__email button {
  padding: 10px;
  background-color: #f23a2e;
  outline: 2px solid #f23a2e;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  border: 0;
}

@media (max-width: 768px) {
  .footer .body {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    gap: 20px;
  }
  .footer__text {
    margin-top: 10px;
  }
}
body {
  font-family: Muli;
}

.body {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .body {
    width: 100%;
    padding: 0 10px;
  }
}