@charset "UTF-8";
/* меняем цвет выделения */
*::-moz-selection {
  color: black;
  background-color: white;
}
*::selection {
  color: black;
  background-color: white;
}

/* Убираем ненужный фон при клике  */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* шрифт */
body {
  font-family: gilroy;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon/icomoon.woff");
}
.first-screen {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.first-screen .body {
  display: flex;
  flex-direction: column;
}

.first-screen__video {
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.bg__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.first-screen__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-screen__title {
  text-align: center;
  color: white;
  font-size: 40px;
}

.first-screen__subtitle {
  max-width: 600px;
  text-align: center;
  color: white;
  font-size: 20px;
  word-wrap: break-word;
  margin-bottom: 45px;
}

.first-screen__button a {
  letter-spacing: -1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 900;
  border: 3px solid white;
  padding: 15px 40px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.first-screen__button a:hover {
  color: black;
  background-color: white;
}

@media (max-width: 1200px) {
  .first-screen__title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first-screen__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .first-screen__title {
    font-size: 16px;
  }
  .first-screen__button a {
    padding: 10px 25px;
  }
}
.burger__exit::before {
  font-family: icomoon;
  content: "\f00d";
}

.burger {
  padding: 20px 0;
  z-index: 3;
  position: fixed;
  top: 0;
  right: -300px;
  background-color: white;
  width: 300px;
  height: 100vh;
  transition: all 0.3s ease;
}

.burger.active {
  right: 0;
}

.burger__exit {
  font-size: 30px;
  color: #989898;
  padding: 0 20px;
  text-align: right;
  cursor: pointer;
}

.burger__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;
}

.burger__nav a {
  color: #212529;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.burger__nav a.active {
  color: #f23a2e;
}

.burger__nav a:hover {
  color: #f23a2e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header__logo {
  font-weight: 900;
  font-size: 20px;
  color: white;
}
.header__logo span {
  color: red;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0 20px;
}

.header__nav a.active span {
  border-bottom: 2px solid white;
  padding: 7px 0;
}

.header__burger {
  cursor: pointer;
  display: none;
  color: white;
  font-size: 25px;
}

.header__burger:before {
  font-family: "icomoon";
  content: "\e5d2";
}

@media (max-width: 1200px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 320px) {
  .burger {
    width: 100%;
    right: -100%;
  }
  .burger__nav {
    padding: 0 10px;
  }
  .burger__nav a {
    padding: 10px 10px;
  }
}
body * {
  font-family: Muli;
}

.body {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .body {
    width: 100%;
    padding: 0 10px;
  }
}