.burger {
    padding: 20px 0;
    z-index: 3;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: white;
    width: 300px;
    height: 100vh;
    transition: all 0.3s ease;
}

.burger.active {
    right: 0;
}

.burger__exit::before {
    font-family: icomoon;
    content: '\f00d';
}

.burger__exit {
    font-size: 30px;
    color: #989898;
    padding: 0 20px;
    text-align: right;
    cursor: pointer;
}

.burger__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
}

.burger__nav a {
    color: #212529;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.burger__nav a.active {
    color: #f23a2e;
}

.burger__nav a:hover {
    color: #f23a2e;
}



@media (max-width: 320px) {
    .burger {
        width: 100%;
        right: -100%;
    }

    .burger__nav {
        padding: 0 10px;
    }

    .burger__nav a {
        padding: 10px 10px;
    }
}