.first-screen {
    display: flex;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;

    .body {
        display: flex;
        flex-direction: column;
    }
}

.first-screen__video {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.first-screen__video video {
    object-fit: cover;
    width: 100%;
}

.first-screen__content {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1s ease;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-screen__content.active {
    transform: translate(0, 0);
    opacity: 1;
}

.first-screen__title {
    text-align: center;
    color: white;
    font-size: 40px;
}

.first-screen__subtitle {
    max-width: 600px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 45px;
}

.first-screen__button a {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 5px;
    transition: all 0.2s ease;
    color: white;
    border: 3px solid white;
}

.first-screen__button a:hover {
    color: black;
    background-color: white;
}



@media (max-width: 1200px) {
    .first-screen__title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .first-screen__subtitle {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .first-screen__title {
        font-size: 16px;
    }

    .first-screen__button a {
        padding: 5px 15px;
        font-size: 14px;
    }
}