.quote1 {
    background: url(../img/bg_2.jpg) center/cover no-repeat;
}

.quote2 {
    background: url(../img/bg_3.jpg) center/cover no-repeat;
}

.quote__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    padding: 200px 0;
    color: white;
}

.quote__title {
    font-size: 60px;
    text-align: center;
}

.quote__text {
    max-width: 800px;
    text-align: center;
    font-size: 20px;

    a {
        color: white;
    }

    a:hover {
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .quote__title {
        font-size: 40px;
    }

    .quote__text {
        font-size: 16px;
    }
}


@media (max-width: 320px) {
    .quote__title {
        font-size: 30px;
    }

    .quote__body {
        padding: 100px 0;
    }
}