.stay {
    margin-top: 200px;
    padding: 70px 0;
}

.stay .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stay__top {
    text-align: center;
    max-width: 600px;
}

.stay__subtitle {
    font-size: 18px;
    color: #ABABAB;
}

.stay__title h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 15px;
}

.stay__text {
    color: #989898;
    font-size: 17px;
}