@import "_reset";
@import "_font";
@import "_first-screen";
@import "_header";
@import "_burger";



body {
    font-family: Muli;
}

.body {
    width: 1200px;
    margin: 0 auto;
}



@media (max-width: 1200px) {
    .body {
        width: 100%;
        padding: 0 10px;
    }
}