.footer {
    padding: 200px 100px 0;
}

.footer .body {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
}

.footer__title {
    color: #343a40;
    text-transform: uppercase;
    font-weight: 900;
}


.footer__text {
    color: #989898;
    word-wrap: normal;
    max-width: 100%;
}

.footer__href {
    display: grid;
    grid-template-columns: minmax(10px, 1fr);
    padding: 15px 0;
}

.footer__link {
    padding: 7px 0;
    color: #f23a2e;
    text-decoration: none;
}

.footer__email {
    margin-top: 20px;
    display: flex;
    grid-template-columns: minmax(10px, 1fr);
    grid-template-rows: 1fr;

    input {
        color: #495057;
        flex-grow: 1;
        border: 0;
        outline: 2px solid #a5a5a5;
        padding: 10px;
        transition: all 0.3s ease;
    }

    input:focus {
        outline: 2px solid #f23a2e;
    }

    button {
        transition: all 0.5s ease;
        cursor: pointer;
        padding: 10px;
        background-color: #f23a2e;
        outline: 2px solid #f23a2e;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        border: 0;

        &:hover {
            background-color: white;
            outline: 2px solid #f23a2e;
            color: #f23a2e;
        }
    }
}


@media (max-width: 768px) {
    .footer .body {
        grid-template-columns: repeat(1, minmax(10px, 1fr));
        gap: 20px;
    }

    .footer__text {
        margin-top: 10px;
    }

    .footer {
        padding: 50px 50px 0;
    }

    .footer__href {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 10px;
    }
}